/*#blanche{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#noire{
	width: 50px;
	height: 50px;
	background: black;
	color: black;	
	float: left;
	margin-right: 10px;
}*/

svg {
	    width: 64%;
}
.test:hover {
	 fill: red !important;
}

.octave{
	border: solid 2px black;
	width: 1000px;
	height: 70px;
}

#son{
	width: 50px;
	height: 50px;
	background: blue;
	float: left;
	margin-right: 10px;
}

#do{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#re{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#mi{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#fa{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#sol{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#la{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#si{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#dodiese{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#rediese{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#fadiese{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#soldiese{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#ladiese{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}
/*Deuxième octave*/

#do2{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#dodiese2{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#re2{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#rediese2{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#mi2{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#fa2{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#fadiese2{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#sol2{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#soldiese2{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#la2{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#ladiese2{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#si2{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

/*Troisième octave*/

#do3{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#dodiese3{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#re3{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#rediese3{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#mi3{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#fa3{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#fadiese3{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#sol3{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#soldiese3{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#la3{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#ladiese3{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#si3{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

/*Quatrième octave*/

#do4{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#dodiese4{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#re4{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#rediese4{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#mi4{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#fa4{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#fadiese4{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#sol4{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#soldiese4{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#la4{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#ladiese4{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#si4{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

/*Cinquième octave*/

#do5{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#dodiese5{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#re5{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#rediese5{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#mi5{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#fa5{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#fadiese5{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#sol5{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#soldiese5{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#la5{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#ladiese5{
	width: 50px;
	height: 50px;
	background: black;
	color: white;
	float: left;
	margin-right: 10px;
}

#si5{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}

#do6{
	width: 50px;
	height: 50px;
	background: white;
	border: solid 2px black;
	float: left;
	margin-right: 10px;
}